doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contacto | JEEIMKG
        link(rel="shortcut icon", href="https://firebasestorage.googleapis.com/v0/b/jeeimkg-5705b.appspot.com/o/static%2Fico.ico?alt=media&token=c23affd4-77d1-471b-bef9-4e19e81f4964", type="image/x-icon")
        // Estilos css
        link(rel="stylesheet", href="css/navbar.css")
        link(rel="stylesheet", href="css/contact.css")
        link(rel="stylesheet", href="css/footer.css")

        // javascript vanilla del proyecto
        script(src="js/scrolldown.js" defer) 
        script(src="js/navbar.js" defer)
        // javascript de librerias (JQuery, Bootstrap, etc)
        script(src="https://code.jquery.com/jquery-3.6.1.min.js")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" defer)

        script(src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js", integrity="sha512-q583ppKrCRuGxJQgndVQIsMvsnZ+XfRiYjH/MoWkZbXAwk6zFTdJbBd2KlNmbhbL3Z1IJZOQcuAMFmJxrwIyZw==", crossorigin="anonymous", referrerpolicy="no-referrer")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/plugins/bgset/ls.bgset.min.js", integrity="sha512-+6gXXLxJyLEu+xkQpYLlZaEy4yGcP0mKuBiZcBNbEZ5zTmO7rJL0ijEh4Eqqg1GjZB4DqLc3u9Xv8n6OwJcAFw==", crossorigin="anonymous", referrerpolicy="no-referrer")

    body 
        // Icono de uniser a discord 
        a(href="http://", target="_blank", rel="noopener noreferrer" class="discord-link" style="display: none;")
            svg.discord-icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 640 512")
                path(d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z")

        nav.navbar#navbar
            .logo 
                a(href='/')
                    h1 JEEIMKG
            ul.navbar-list#navigation
                li
                    a(class='navbar-link' href='/') Home
                li
                    a(class='navbar-link' href='/about') about us 
                li
                    a(class='navbar-link' href='/work') work 
                li
                    a(class='navbar-link' href='') opinions 
                li
                    a(class='navbar-link' href='') products 

        aside
            div(class="outer-close toggle-overlay")
                a.close
                    span
            nav 
                ul.navbar-responsive#navbar-responsive
                    li
                        a(class='navbar-break' href='/') Home
                    li 
                        a(class="navbar-break" href="/about") about us
                    br
                    li 
                        a(class="navbar-break" href="/work") work
                    br
                    li 
                        a(class="navbar-break" href="") opinions
                    br
                    li 
                        a(class="navbar-break" href="") products

        div.hamburger-menu.toggle-overlay
            div.bar

        header.header-content
            h1.main-title 
                | let's build
                br 
                | something
                br 
                strong 
                    | amazing

            // div(class="contact-header" )
            img.contact-header.lazyload(data-src="https://firebasestorage.googleapis.com/v0/b/jeeimkg-5705b.appspot.com/o/static%2Fmain(1).webp?alt=media&token=bf98a65e-7208-4a80-b2b8-354551f3a183", src="https://firebasestorage.googleapis.com/v0/b/jeeimkg-5705b.appspot.com/o/static%2Fmain1.webp?alt=media&token=e26b93ef-5926-4596-b2b6-be698112322a", alt="Imagen")

        main
            h2.title-form
                | Aplica ahora y 
                br
                | en un momento
                br
                |  te contactaremos.
            form(action="" method="post")
                input.feedback-input(type="text", name="name", placeholder="Nombre Completo" required)
                input( class="feedback-input" type="email", name="email" placeholder="Email Laboral" required)
                input( class="feedback-input" type="text", name="phone" placeholder="Teléfono" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required)
                textarea.feedback-input(placeholder="Asunto" name="" cols="30" rows="10")
                input.button(type="submit", value="enviar")

        footer.footer
            .footer__addr
                .footer__logo
                    img(src="https://firebasestorage.googleapis.com/v0/b/jeeimkg-5705b.appspot.com/o/static%2Ffooter-logo.webp?alt=media&token=bda93a35-f4ba-4d2d-b9d3-d334633e84a4", loading="lazy", alt="Logo de la organización Jóvenes Emprendedores e Innovadores", srcset="")
                h2
                    | Contacto 
                address
                    | 1010 Avenue, sw 54321, chandigarh
                    br
                    a.footer__btn(href="mailto:jeeimkg@gmail.com") Email Us
            ul.footer__nav
                li.nav__item
                    h2.nav__title Redes
                    ul.nav__ul
                        li 
                            a(href="https://wa.me/529933011834?text=Hola" target="_BLANK") Whatsapp
                        li
                            a(href="https://www.facebook.com/jeeimkg" target="_BLANK") Facebook
                        li
                            a(href="https://www.instagram.com/jeeimkg" target="_BLANK") Instagram
                        li 
                            a(href="https://www.tiktok.com/@jeeimkg" target="_BLANK") TikTok
                li.nav__item.nav__item--extra
                    h2.nav__title Enlaces Útiles
                    ul.nav__ul.nav__ul--extra
                        li 
                            a(href="/") Nuestros Clientes
                        li 
                            a(href="/") Nuestros Productos
                        li 
                            a(href="/") Nuestra Fundación
                        li 
                            a(href="/") Empresas Afiliadas
                        li 
                            a(href="/") Nuestra Trayectoría
                        li 
                            a(href="/") Conferencias
                li.nav__item
                    h2.nav__title Legal
                    ul.nav__ul
                        li 
                            a(href="/") Política de Privacidad
                        li 
                            a(href="/") Términos de Uso
                        li
                            a(href="/") Cookies
            .legal
                p
                    | Copyright &copy; 2023, All Right Reserved 
                    a(href="/")
                        | jeeimkg