doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JEEIMKG | Design, Creation and Development Agency
        link(rel="shortcut icon", href="https://jeeimkg-static.s3.us-west-1.amazonaws.com/images/ico/ico.png", type="image/x-icon")
        // Estilos css
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/navigation.css")
        // javascript vanilla del proyecto
        script(src="js/navbar.js" defer)
        script(src="js/modal.js" defer)
        // javascript de librerias (JQuery, Bootstrap, etc)
        script(src="https://code.jquery.com/jquery-3.6.1.min.js")    

    body
        nav.navbar#navbar
            .logo 
                a(href='/')
                    h1 JEEIMKG
            ul.navbar-list#navigation
                li
                    a(class='navbar-link' href='') about us 
                li
                    a(class='navbar-link' href='') work 
                li
                    a(class='navbar-link' href='') opinions 
                li
                    a(class='navbar-link' href='') products 
                li
                    a(class='navbar-link' href='/contact') contact

        aside
            div(class="outer-close toggle-overlay")
                a.close
                    span
            nav 
                ul.navbar-responsive#navbar-responsive
                    li 
                        a(class="navbar-break" href="") about us
                    br
                    li 
                        a(class="navbar-break" href="") work
                    br
                    li 
                        a(class="navbar-break" href="") opinions
                    br
                    li 
                        a(class="navbar-break" href="") products
                    br
                    li 
                        a(class="navbar-break" href="/contact") contact

        header#header
            div(class="hamburger-menu toggle-overlay")
                div.bar

            section.home-header#home
                div
                    .content__container
                        p
                            | we design
                            br
                            | and build
                        b.keyword#keyword
                            span
                                | strategies
                                br
                                | products
                                br
                                | platforms
    // https://www.youtube.com/watch?v=5s-QkOUNJsk 34:07 min

