# Dependencias
/node_modules

# Archivos sass 
/src/public/scss
*.sass-cache
*.css.map
*.scss

# Firebase 
.firebaserc
firebase.json

# Logs y otros archivos
*.log
npm-debug.log*
yarn-debug.log*

/src/public/html

# Hosting 

