.main-content{
    background-color: #161616;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    height: 110vh;
    padding: 4% 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-element{
        color: #565656;
        margin: 10% 10%;
        font-weight: 400;
        font-size: clamp(4rem, 4vw, 6rem);

        a{
            color: #fff;
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.about-us-content {
    background-color: #090909;
    width: 100%;
    height: 110vh;
}

.image-about-main{
    display: flex;
    margin-right: 90%;
    margin-left: -35%;

}