@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500&display=swap");
body,
html {
    height: 100%;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #afaeae;    
    .logo{
        h1{
            color: #afaeae;
            font-family: "Alegreya Sans SC", sans-serif;
        }
    }

    .navbar-link {
        color: #afaeae;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.main-content{
    background-color: #706F6F;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    height: 110vh;
    padding: 4% 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-element{
        margin: 10% 10%;
        font-weight: 400;
        font-size: clamp(4rem, 4vw, 6rem);

        a{
            color: #afaeae;
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.about-us-content {
    background-color: #2d2d2d;
    width: 100%;
    height: 110vh;
}