/* Fuentes
********************************************************************* */
/*Tipografía de la marca*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");
/*Tipografía secundaria*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500&display=swap");
/*Para uso unico*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,html{
    height: 100%;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya Sans SC", sans-serif;
    background-color: #090909;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

    ::selection {
        background: #294899;
        color: #fff;
    }
}