/* Index Styles
********************************************************************* */

// Home - Header classes

.home-header{
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-title{
        margin: 250px 13%;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: clamp(5.5rem, 5vw, 6rem);

        b{
            font-weight: 500;
            color: #294899;
        }
    }
}

@media (max-width: 768px) {
    .main-title{
        font-size: clamp(3rem, 5vw, 5rem);
    }
}